        {{!-- Individual Card Example --}}
    <div class="card mb-2">
        <h5 class="card-header">Featured Article</h5>
        <div class="card-body">
            <h5 class="card-title" data-id = "{{_id}}"><a href = "{{link}}">{{heading}}</a></h5>
            <p class="card-text">{{paragraph}}</p>
            <a class="btn btn-primary text-white add-note" data-id = "{{this._id}}">Notes</a>
            <a class="btn btn-danger text-white delete-article" data-id = "{{this._id}}">Delete</a>
        </div>
    </div>